.container {
    height: 100%;
    overflow-y: scroll;
}

.header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 20px;
}

.container_info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.197);
    background-color: #F7F7F7;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.1);
    justify-content: space-between;
}

.statuses_container {
    padding: 20px 20px 0px;
}
.status {
    padding: 14px;
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.416);
}

.statuses {
    display: flex;
    width: 100%;

}

.completed {
    color: white;
    background-color: #333333;
}

.uncompleted {
    background-color: #ffffff;
}

.current {
    color: white;
    background-color: #FEB614;
}

.nav_container {
    padding: 0 20px;
}

.navigation {
    display: flex;
    background-color: #F7F7F7;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.416);
    border-top: none;
    display: flex;
    align-items: center;
    padding: 8px 20px;
}

.navigation a {
    text-decoration: none;
}

.navigation a:visited {
    color: black
}

.nav_item {
    padding: 8px 16px;
    background-color: white;
    box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.108);
    margin-right: 20px;
    border-radius: 3px;
}


.nav_item_active {
    background-color: #AEBF4C;
    color: white;
}

.content {
    padding: 20px;
    height: 100%;
    margin: 20px;
    background-color: white;
}
